*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Verdana, Geneva, Tahoma, sans-serif;
}

body{
  background-color: white;
    color:white;
}
#header {
    width: 100%;
    height: 150px;
    background-color: black;
    background-position: center;

}

.container{
    padding: 10px 10%;
  
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.logo {
    width: 120px;
    height: 120px;
    border-radius: 50%;

}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    position: relative;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #12da3d;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}
.header-text{
    margin-top: 20%;
    font-size: 30px;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #12da3d;
}
#about
{
   padding: 80px 0px; 
   color: black;
}
.subtitle span{
    color: #12da3d;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2 {
    flex-basis: 60%;
}
.subtitle{
    font-size: 60px;
    font-weight: 600;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #12da3d;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
    
}
.tab-links.active-link::after
{
    width: 100%;
}
.tab-contents ul li{
    list-style: none;
    margin:10px 0 ;

}
.tab-contents ul li span{
    color: #12da3d;
    font-size: 20px;
}

.tab-contents{          /* to hide contents*/
    display: none;
}

.tab-contents.active-tab{   /*show only active tab contents*/
    display:block ;
}
#services{
    padding: 30px 0;
   
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
   
}
.services-list div{
    border: #12da3d solid;
    padding: 20px 20px;
}


/*-------portfolio------- */


#portifolio{
    padding: 50px 0;
}
.worklist{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(34, 11, 11, 0.6), #12da3d);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;  
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 60px;
}
.layer a{
    margin-top: 20px;
    color:#12da3d;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);

}

.work:hover .layer{
    height: 100%;
}


.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #12da3d;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color:black;
    transition: background 0.5s;
}
.btn:hover{
    background: #12da3d;
}

/*------contact------*/

.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #12da3d;
    font-size:25px ;
    margin-right: 15px;
}
.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size:30px ;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #12da3d;
    transform: translateY(-5px);
}
.btn.btn2{ 
    display: inline-block;
    background:#12da3d;

}
.contact-right form{
    width: 100%;
}
 form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color:black;
    font-size: 18px;
    border-radius: 6px;

 }
 form .btn2 {
     padding: 14px 60px;
     margin-top: 20px;
     font-size: 18px;
     cursor: pointer;
 }
 .copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
 }
  .copyright i{
    color: #12da3d;
    }
    
    /*.........css for small screens*/
    
    nav .fa-solid {
        display: none;
    }

  @media only screen and (max-width: 600px)
 {
    #header {
        background-image: url(images/sel.jpeg);
    }
    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }
    .header-text h1{

        font-size: 30px;
    }
    nav .fa-solid {
        display: block;
        font: 25px;
    }
    nav ul{
        background:#12da3d;
        position: fixed;
        top: 0;
        right: -200px; /* since its width is 200 putting -200 will hide the menu section*/
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition:right 0.5s ;

    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fa-solid{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
        .subtitle {
            font-size: 40px;
        }
        .about-col-1, .about-col-2{
            flex-basis: 100%;
        }
        .about-col-1{
            margin-bottom: 30px;
        }
        .about-col-2{
            font-size: 14px;
        }
         .tab-links {
           font-size: 16px;
           margin-right: 20px;}

     .contact-left, .contact-right{
        flex-basis: 100%;

     }
     .copyright{
        font-size: 14px;

     }
  }
  #msg{
    color: #61b761;
     margin-top: -40px;
     display: block;

  }

  /* Typewriter effect */
.typewriter {
    display: inline-block;
    border-right: 2px solid; /* Cursor effect */
    white-space: nowrap; /* Prevents the text from wrapping */
    overflow: hidden; /* Ensures only part of the text is shown while typing */
    animation: typing 3s steps(10, end), blink-caret 0.5s step-end infinite;
  }
  
  /* Typing animation */
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  /* Blinking caret effect */
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: black; }
  }
  
  /* Infinite loop for the typing effect */
  @keyframes loopTyping {
    0% { width: 0; }
    50% { width: 100%; }
    100% { width: 0; }
  }
  
  ul {
    margin: 0px;
    padding: 0px;
}
.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta i {
  color: #ff5e14;
  font-size: 30px;
  float: left;
  margin-top: 8px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text span {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
.footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
}
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo img {
    max-width: 200px;
}
.footer-text p {
  margin-bottom: 14px;
  font-size: 14px;
      color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon span {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 20px;
}
.footer-social-icon a {
  color: #fff;
  font-size: 16px;
  margin-right: 15px;
}
.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
.footer-widget-heading h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: #ff5e14;
}
.footer-widget ul li {
  display: inline-block;
  float: left;
  width: 50%;
  margin-bottom: 12px;
}
.footer-widget ul li a:hover{
  color: #ff5e14;
}
.footer-widget ul li a {
  color: #878787;
  text-transform: capitalize;
}
.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form input {
  width: 100%;
  padding: 14px 28px;
  background: #2E2E2E;
  border: 1px solid #2E2E2E;
  color: #fff;
}
.subscribe-form button {
    position: absolute;
    right: 0;
    background: #ff5e14;
    padding: 13px 20px;
    border: 1px solid #ff5e14;
    top: 0;
}
.subscribe-form button i {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area{
  background: #202020;
  padding: 25px 0;
}
.copyright-text p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text p a{
  color: #ff5e14;
}
.footer-menu li {
  display: inline-block;
  margin-left: 20px;
}
.footer-menu li:hover a{
  color: #ff5e14;
}
.footer-menu li a {
  font-size: 14px;
  color: #878787;
}